:root {
    // COLORS
    --blue: #609EAF;
    --light-blue: #9CBCBB;
    --gold: #FACD66;
    --black: #1A1E1F;
    --light-black: #1D2123;
    --white: #FFFFFF;
    --deep-white: #EFEEE0;

    --background: #1E1E1E;
    // FONTS
    --quicksand: 'Quicksand';
}