.musica__play {
    display: flex;
    gap: 30%;

    @include respond(break-4) {
        gap: 15%;
    }

    @include respond(break-6) {
        gap: 5%;
    }

    @include respond(break-8) {
       padding: 2rem 0.5rem;
    }

    figure {
        width: 100%;
        
        figcaption {
            width: 100%;
        }
    }

// CONTROL NAVIGATION ICON FOR WHEN PLAYING MUSIC
    &--icon {
        margin-top: 1rem;
        margin-right: 2rem;

        @include respond(break-6) {
            margin-right: 1rem;
        }

        @include respond(break-8) {
            margin: 0;
        }

        
        svg {
            height: 2rem;
            width: 2rem;
            fill: var(--white);

            @include respond(break-8) {
                display: none;
            }
        }

        &-1 {
            background-color: var(--gold);
            border-radius: 50%;
            padding: 0.8rem;
            position: relative;
            z-index: 10;

            svg {
                height: 1.5rem;
                width: 1.5rem;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include respond(break-8) {
                    display: block;
                    height: 2rem;
                    width: 2rem;
                    margin: 0;
                }
            }
        }

        &-2 {
            svg {

                @include respond(break-8) {
                    display: block;
                    height: 2.5rem;
                    width: 2.5rem;
    
                    position: relative;
                    top: 0.3rem;
                }
            }
        }
    }
} 

.musica__volumne {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include respond(break-8) {
        display: none;
    }

    svg {
        height: 2rem;
        width: 2rem;
        fill: var(--white);

        @include respond(break-8) {
            display: none;
        }
    }
}

.musica__progress-bar {
    margin: 2rem auto;
    height: 0.5rem;
    width: 40%;
    background-color: var(--opaque-white);
    border-radius: 2rem;

    position: relative;

    @include respond(break-8) {
        display: none;
    }

    &--1{
        margin: 0;
        margin-left: 0.5rem;
    }
}
  
.musica__progress {
    height: 100%;
    width: 40%;
    background-color: var(--gold);
    border-radius: 2rem;
    position: absolute;

    &--dot {
        position: absolute;
        right: 0;
        background-color: var(--gold);
        outline: 0.1rem solid var(--white);
        outline-offset: 0.4rem;
        border-radius: 50%;
        height: 1rem;
        width: 1rem;
    }
}