* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; //10px

    @include respond(break-4) {
        font-size: 50%; // 8px
    }

    @include respond(break-8) {
        font-size: 37.5%; // 6px
    }

    @include respond(break-+HD) {
        font-size: 65.6%; //10.5px
    }
}


/* Hide the scroll bar */
body {
    scrollbar-width: none; /* Firefox 64+ */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow: -moz-scrollbars-none;
}
