.opacity {
    opacity: 0;
}

.margin-left {
    margin-left: 4rem;
}

.margin-top {
    margin-top: 4rem; 
}

.margin-bottom-small {
    margin-bottom: 1rem;
}

.margin-bottom{
    margin-bottom: 4rem;
}

.margin-bottom-large{
    margin-bottom: 8rem;

    @include respond (break-4) {
        margin-bottom: 6rem;
    }
}

.border-radius {
    border-radius: 6rem;
}

.invisible {
    display: none;
}

.fill {
    fill: var(--gold) !important; 
}

.color {
    color: var(--white) !important;
}

// POSITIONING LOGO TOGETHER 
.header-position{
    position: relative;
    top: 1.5rem;
    left: -3.5rem;

    @include respond(break-7) {
        top: 0.7rem;
        left: -1.4rem;
    }
}

// TO ADD ANIMATION 
.slider {
    animation: slide-in 0.5s ease-in-out;
}

.scale {
    animation: scale 0.4s ease-out;
}